/* --------------------------GENERAL SETTINGS------------------------- */
:root {
  /* -----text color---- */
  --first-text-color: #434455;
  --second-text-color: #FFFFFF;
  --third-text-color: #2E2F42;
  --fourth-text-color: #4D5AE5;
  --fifth-text-color: #F4F4FD;
  --sixth-text-color: #E7E9FC;
  /* -----background color----------*/
  --first-background-color: #2E2F42;
  --second-background-color:#F4F4FD;
  --third-background-color: #4D5AE5;
  --fourth-background-color: #FFFFFF;
  /* -------accent-color ----------*/
  --accent-color: #404BBF;
  /* ---------border color--------- */
  --border-color-img-portfolio: #E7E9FC;
  /* --------- found -------------- */
  --secondary-found: 'Raleway', sans-serif;
  /* -----settings padding and margin*/
  --basic-settings-padding-section: 120px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2E2F42;
}
/* margin and padding OFF */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

/* ---------------------------UNIVERSAL CLASSES----------------------- */
/* Centering and limiting content by width. Section padding */
.container{
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}
.section{
  padding-top: var(--basic-settings-padding-section);
  padding-bottom: var(--basic-settings-padding-section);
}
/* delete marker */
.list {
  list-style: none;
}
/* delete underline */
.link {
  text-decoration: none;
}
/* hover and focus effect link*/
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* main title attributes */
.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* main subtitle attributes */
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* main description attributes */
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
/* fading title effect */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  cursor: pointer;
  font-family: inherit;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
}
/* hover and focus effect button*/
.btn:hover,
.btn:focus {
  background: var(--accent-color);
  color: var(--second-text-color);
  border-radius: 4px;
}
/* foto full */
.portfolio-img,
.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}
/******************************* MAIN PAGE ****************************/

/* -------------------------------HEADER----------------------------- */
.header-section {
  background: var(--fourth-background-color);
  border-bottom: 1px solid var(--sixth-text-color);
} 
.header-all-nav{
  display: flex;

}
/* ---logo------*/
.header-logo {
  display: flex;
  margin-right: 76px;
  padding: 24px 0px;
}
.header-logo,
.header-logo span {
  text-decoration: none;
  font-family: var(--secondary-found);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}
.header-logo span {
  color: var(--fourth-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Menu navigation*/
.header-menu {
  display: flex;
  margin-right: auto;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  display: flex;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  padding: 24px 0px;
}
.header-menu-item:not(:last-child) {
  margin-left: 40;
}
/* Contacts */
.header-address {
  display: flex;
}
.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  padding: 24px 0px;
}

/* ----------------------------HERO SECTION------------------------- */
.hero-section {
  background: var(--first-background-color);
}
.hero-container {
  padding: 188px 331px;
}
.hero-title-container{
  max-width: 496px;
  flex-direction: column;
  text-align: center;
  margin-right: 0;
}
.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-bottom: 48px;
}
.hero-button {
  display: inline;
  width: 178px;
  padding: 16px 32px;
  text-align: center;
  background: var(--third-background-color);
  color: var(--second-text-color);
  border-radius: 4px; 
  border: 1px solid var(--third-background-color);
}
/* ----------------------BASIC PRINCIPLES SECTION ---------------------*/
.principles-list {
  display: flex;
}
.principles-item {
  margin-left: 24px;
  width: 264px;
}
.principles-item:first-child {
  margin-left: 0px;
}
.principles-title {
  margin-bottom: 8px;
}

/* ----------------------- WHAT ARE WE DOING SECTION ------------------ */
.work-container{
padding-bottom: var(--basic-settings-padding-section);
}

.work-title {
  margin-bottom: 72px;
}
.work-list {
  padding-left: 0;
  display: flex;
  /* */
}
.work-item {
  display: flex;
  margin-left: 24px;
}
.work-item:first-child {
  margin-left: 0;
}

/* ------------------------------ OUR TEAM SECTION ------------------- */
.team-section {
  background: var(--second-background-color);}
.team-title {
  margin-bottom: 72px;
}
.team-list{
  display: flex;
  margin-left: 0;
  padding-left: 0;
}
.team-item {
  background: var(--fourth-background-color);
  margin-left: 24px;
}
.team-item:first-child {
  margin-left: 0;
}
.team-subtitle {
  text-align: center;
  padding-top: 32px;
}
.team-description {
  text-align: center;
  margin-top: 8px;
  padding-bottom: 32px;
}
.team-border-img {
  background: var(--second-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* ***************************** PORTFOLIO PAGE ***************************/

/* ------------------- PORTFOLIO FILTER BUTTONS ------------------------- */
.portfolio-button {
  display: flex;
  background: var(--second-background-color);
  border: 1px solid var(--sixth-text-color);
  border-radius: 4px;
  color: var(--fourth-text-color);
  flex-direction: row;
  padding: 12px  24px;
}
.portfolio-button-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-button-item{
  display: flex;
  
}

/* ---------------------- ROW EXAMPLES OF PROJECTS ---------------------- */
.portfolio-container{
  padding-bottom: var(--basic-settings-padding-section);
  padding-top: 96px;
}
.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}
.portfolio-img-item {
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.portfolio-img-item:nth-child(3n + 1) {
  margin-left: 0;
}
.portfolio-img-item:nth-child(-n+3) {
  margin-top: 0;
}
.portfolio-img-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-border-img{
  padding: 32px 16px;
  background: var(--second-text-color);
  border-bottom: 1px solid var(--border-color-img-portfolio);
  border-right: 1px solid var(--border-color-img-portfolio);
  border-left: 1px solid var(--border-color-img-portfolio);
}
/* ----------------------------- FOOTER ------------------------------*/
.footer-section{
  background: var(--first-background-color);
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo{
  margin-bottom: 16px;
  padding: 0;
}
.footer-logo,
.footer-logo span {
  text-decoration: none;
  font-family: var(--secondary-found);
  font-size: 18px;
  line-height: 1.67;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fifth-text-color);
  padding: 0;
}
.footer-logo span {
  color: var(--fourth-text-color);
}
.footer-description {
  width: 264px;
  display: inline;
  flex-direction: column;
  flex-direction: row-reverse;
  color: var(--sixth-text-color);
}